body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f4f4f4;

}


.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.containt{
    padding: 10px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
}
.section-title {
    font-weight: bold;
    margin-top: 20px;
}
.form-group {
    margin: 10px 0;
}
label {
    font-weight: bold;
}
input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
textarea {
    resize: none;
    min-height: 60px;

}
.button-group {
    text-align: center;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}